[Unit]
Description=PHP Daemon

[Service]
Type=forking
PIDFile=/var/run/php-daemon.pid
User=root
Group=root
WorkingDirectory=/opt/php-daemon
ExecStart=/opt/php-daemon/php-daemon
Restart=on-abort
KillMode=control-group
StandardInput=null
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=php-daemon
UMask=0133

[Install]
WantedBy=multi-user.target